.cardWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.cardImageBox {
  width: 250px;
  height: 180px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.price {
  color: deepskyblue;
}
.adress {
  color: gray;
}
