.cardWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.cardImageBox {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}
.price {
  color: deepskyblue;
}
.adress {
  color: gray;
}
