.root {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 80px;
  padding: 0 40px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 1px 20px lightgrey;
}
.searchBox {
  display: flex;
  flex: 1;
  padding: 0 50px;
  height: 40px;
  margin-top: 10px;
  button {
    border: 1px solid lightgray;
    border-radius: 8px 0 0 8px;
  }
  input {
    width: 100%;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 0 8px 8px 0;
  }
}
.userButtons {
  display: flex;
  height: 40px;
  margin-top: 10px;
  gap: 5px;
  button {
    border: 1px solid lightgray;
    border-radius: 8px;
  }
}
.logoWrapper {
  img {
    max-width: 250px;
    height: auto;
  }
}
